In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão de Python Neste Jupyter Notebook:', python_version())

# usaremos o filtro 'waning' para deixar mais limpo.
import warnings
warnings.filterwarnings('ignore')

Versão de Python Neste Jupyter Notebook: 3.10.5

### What type is it?

In [2]:
a = 45
type(a)

int

In [3]:
b = 'This is a string'
type(b)

str

In [4]:
c = 2 + 1j
type(c)

complex

In [5]:
d = [1, 3, 56]
type(d)

list

### Numbers

#### Integers

In [6]:
a = '34' # a is a string containing the characters 3 and 4
x = int(a) # x is in integer number

In [7]:
int(7.0)

7

In [8]:
int(7.9)

7

In [9]:
round(7.9)

8

#### Integer limits

In [10]:
35**42

70934557307860443711736098025989133248003781773149967193603515625

#### Floating Point numbers

In [11]:
a = '35.342'
b = float(a)
b

35.342

In [12]:
type(b)

float

#### Complex numbers

In [13]:
x = 1 + 3j
x

(1+3j)

In [14]:
abs(x) # computes the absolute value

3.1622776601683795

In [15]:
x.imag

3.0

In [16]:
x.real

1.0

In [17]:
x * x

(-8+6j)

In [18]:
x * x.conjugate()

(10+0j)

In [19]:
3 * x

(3+9j)

In [20]:
import cmath

cmath.sqrt(x)

(1.442615274452683+1.0397782600555705j)

#### Functions applicable to all types of numbers

In [21]:
a = -45.463
abs(a)

45.463

### Sequences

- a[i] returns i-th element of a
- a[i:j] returns elements i up to j-1
- len(a) returns number of elements in sequence
- min(a) returns smallest value in sequence
- max(a) returns largest value in sequence
- x in a returns True if x is element in a
- a + b concatenates a and b
- n * a creates n copies of sequence a

#### Sequence type 1: String

In [22]:
a = 'Hello World'

In [23]:
a = "Hello World"

In [24]:
a = """Hello World"""
a = '''Hello World'''

In [25]:
a = "Hello World"
type(a)

str

In [26]:
b = ""
type(b)

str

In [27]:
type("Hello World")

str

In [28]:
type("")

str

In [29]:
a = "Hello Moon"
len(a)

10

In [30]:
a = 'test'
len(a)

4

In [31]:
len('another test')

12

In [32]:
'Hello ' + 'World'

'Hello World'

In [33]:
a = "This is a test sentence."
a.upper()

'THIS IS A TEST SENTENCE.'

In [34]:
a = "This is a test sentence."
a.split()

['This', 'is', 'a', 'test', 'sentence.']

In [35]:
a = "The dog is hungry. The cat is bored. The snake is awake."
a.split(".")

['The dog is hungry', ' The cat is bored', ' The snake is awake', '']

In [36]:
a = "The dog is hungry. The cat is bored. The snake is awake."
s = a.split('.')
s

['The dog is hungry', ' The cat is bored', ' The snake is awake', '']

In [37]:
".".join(s)

'The dog is hungry. The cat is bored. The snake is awake.'

In [38]:
" STOP".join(s)

'The dog is hungry STOP The cat is bored STOP The snake is awake STOP'

#### Sequence type 2: List

In [39]:
a = [34, 12, 54]

In [40]:
a = ['dog', 'cat', 'mouse']

In [41]:
a = []

In [42]:
type(a)

list

In [43]:
type([])

list

In [44]:
a = ['dog', 'cat', 'mouse']
len(a)

3

In [45]:
a = [123, 'duck', -42, 17, 0, 'elephant']

In [46]:
a = [1, 4, 56, [5, 3, 1], 300, 400]

In [47]:
[3, 4, 5] + [34, 35, 100]

[3, 4, 5, 34, 35, 100]

In [48]:
a = [34, 56, 23]
a.append(42)
a

[34, 56, 23, 42]

In [49]:
a = [34, 56, 23, 42]
a.remove(56)
a

[34, 23, 42]

In [50]:
# The range() command

In [51]:
list(range(3))

[0, 1, 2]

In [52]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
for i in range(11):
    print(i ** 2)

0
1
4
9
16
25
36
49
64
81
100

In [54]:
list(range(3, 10)) # start=3

[3, 4, 5, 6, 7, 8, 9]

In [55]:
list(range(3, 10, 2)) # start=3, step=2

[3, 5, 7, 9]

In [56]:
list(range(10, 0, -1)) # start=10,step=-1

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

#### Sequence type 3: Tuples

In [57]:
a = (12, 13, 'dog')
a

(12, 13, 'dog')

In [58]:
a[0]

12

In [59]:
a = 100, 200, 'duck'
a

(100, 200, 'duck')

In [60]:
x, y = 10, 20
x

10

In [61]:
y

20

In [62]:
x = 1
y = 2
x, y = y, x
x

2

In [63]:
y

1

In [64]:
t = ()
len(t)

0

In [65]:
type(t)

tuple

In [66]:
t = (42,)
type(t)

tuple

In [67]:
len(t)

1

In [68]:
t = (42)
type(t)

int

In [69]:
a = (12, 13, 'dog')
a[0]

12

In [70]:
# NBVAL_RAISES_EXCEPTION
a[0] = 1

TypeError: 'tuple' object does not support item assignment

#### Indexing sequences

In [71]:
a = ['dog', 'cat', 'mouse']
a[0]

'dog'

In [72]:
a[1]

'cat'

In [73]:
a[2]

'mouse'

In [74]:
a = ['dog', 'cat', 'mouse']
a[-1]

'mouse'

In [75]:
a[-2]

'cat'

In [76]:
a = "Hello World!"
a[0]

'H'

In [77]:
a[1]

'e'

In [78]:
a[10]

'd'

In [79]:
a[-1]

'!'

In [80]:
a[-2]

'd'

#### Slicing sequences

In [81]:
a = "Hello World!"
a[0:3]

'Hel'

In [82]:
a[1:4]

'ell'

In [83]:
a[0:2]

'He'

In [84]:
a[0:6]

'Hello '

In [85]:
a[0:-1]

'Hello World'

In [86]:
a = "Hello World!"
a[:5]

'Hello'

In [87]:
a[5:]

' World!'

In [88]:
a[-2:]

'd!'

In [89]:
a[:]

'Hello World!'

#### Dictionaries

In [90]:
d = {}

In [91]:
d['today'] = '22 deg C' # 'today' is the keyword

In [92]:
d['yesterday'] = '19 deg C'

In [93]:
d.keys()

dict_keys(['today', 'yesterday'])

In [94]:
d['today']

'22 deg C'

In [95]:
d2 = {2:4, 3:9, 4:16, 5:25}
d2

{2: 4, 3: 9, 4: 16, 5: 25}

In [96]:
d3 = dict(a=1, b=2, c=3)
d3

{'a': 1, 'b': 2, 'c': 3}

In [97]:
d.values()

dict_values(['22 deg C', '19 deg C'])

In [98]:
d.items()

dict_items([('today', '22 deg C'), ('yesterday', '19 deg C')])

In [99]:
d.get('today','unknown')

'22 deg C'

In [100]:
d.get('tomorrow','unknown')

'unknown'

In [101]:
'today' in d

True

In [102]:
'tomorrow' in d

False

In [103]:
# NBVAL_IGNORE_OUTPUT
order = {} # create empty dictionary

#add orders as they come in
order['Peter'] = 'Pint of bitter'
order['Paul'] = 'Half pint of Hoegarden'
order['Mary'] = 'Gin Tonic'

#deliver order at bar
for person in order.keys():
    print(person, "requests", order[person])

Peter requests Pint of bitter
Paul requests Half pint of Hoegarden
Mary requests Gin Tonic

In [104]:
# NBVAL_IGNORE_OUTPUT
dic = {} #create empty dictionary
dic["Hans"] = "room 1033" #fill dictionary
dic["Andy C"] = "room 1031" #"Andy C" is key
dic["Ken"] = "room 1027" #"room 1027" is value

for key in dic.keys():
    print(key, "works in", dic[key])

Hans works in room 1033
Andy C works in room 1031
Ken works in room 1027

In [105]:
people = ["Hans","Andy C","Ken"]
rooms = ["room 1033","room 1031","room 1027"]

#possible inconsistency here since we have two lists
if not len( people ) == len( rooms ):
    raise RuntimeError("people and rooms differ in length")

for i in range( len( rooms ) ):
    print(people[i],"works in",rooms[i])

Hans works in room 1033
Andy C works in room 1031
Ken works in room 1027

### Passing arguments to functions

#### Call by value

In [ ]:
# code in C
#include <stdio.h>
void pass_by_value(int m) {
    printf("in pass_by_value: received m=%d\n",m);
    m=42;
    printf("in pass_by_value: changed to m=%d\n",m);
}

int main(void) {
    int global_m = 1;

    printf("global_m=%d\n",global_m);
    pass_by_value(global_m);
    printf("global_m=%d\n",global_m);

    return 0;
    
}

#### Call by reference

In [ ]:
# code in C
#include <stdio.h>
void pass_by_reference(int *m) {
    printf("in pass_by_reference: received m=%d\n",*m);
    *m=42;
    printf("in pass_by_reference: changed to m=%d\n",*m);
}

int main(void) {
    int global_m = 1;

    printf("global_m=%d\n",global_m);
    pass_by_reference(&global_m);
    printf("global_m=%d\n",global_m);

    return 0;
}

In [ ]:
# code in C
#include <stdio.h>
void pass_by_reference(int &m) {
    printf("in pass_by_reference: received m=%d\n",m);
    m=42;
    printf("in pass_by_reference: changed to m=%d\n",m);
}

int main(void) {
    int global_m = 1;

    printf("global_m=%d\n",global_m);
    pass_by_reference(global_m);
    printf("global_m=%d\n",global_m);

    return 0;
}

#### Argument passing in Python

In [ ]:
def double_the_values(l):
    print("in double_the_values: l = %s" % l)
    
    for i in range(len(l)):
        l[i] = l[i] * 2
    
    print("in double_the_values: changed l to l = %s" % l)

l_global = [0, 1, 2, 3, 10]

print("In main: s=%s" % l_global)
double_the_values(l_global)
print("In main: s=%s" % l_global)

In [ ]:
def double_the_list(l):
    print("in double_the_list: l = %s" % l)
    l = l + l
    print("in double_the_list: changed l to l = %s" % l)

l_global = "Hello"

print("In main: l=%s" % l_global)
double_the_list(l_global)
print("In main: l=%s" % l_global)

In [ ]:
def double_the_value(l):
    print("in double_the_value: l = %s" % l)
    l = 2 * l
    print("in double_the_values: changed l to l = %s" % l)

l_global = 42

print("In main: s=%s" % l_global)
double_the_value(l_global)
print("In main: s=%s" % l_global)

#### Inadvertent modification of data

In [ ]:
def mymax(s): # demonstrating side effect
if len(s) == 0:
raise ValueError('mymax() arg is an empty sequence')
elif len(s) == 1:
return s[0]
else:
for i in range(1, len(s)):
if s[i] < s[i - 1]:
s[i] = s[i - 1]
return s[len(s) - 1]
s = [-45, 3, 6, 2, -1]
print("in main before caling mymax(s): s=%s" % s)
print("mymax(s)=%s" % mymax(s))
print("in main after calling mymax(s): s=%s" % s)

#### Copying objects

In [ ]:
a = list(range(10))
a

In [ ]:
b = a
b[0] = 42
a # changing b changes a

In [ ]:
# NBVAL_IGNORE_OUTPUT
id(a)

In [ ]:
# NBVAL_IGNORE_OUTPUT
id(b)

In [ ]:
# NBVAL_IGNORE_OUTPUT
c = a[:]
id(c) # c is a different object

In [ ]:
c[0] = 100
a # changing c does not affect a

### Equality and Identity/Sameness

#### Equality

In [ ]:
a = 1.0; b = 1
type(a)

In [ ]:
type(b)

In [ ]:
a == b

#### Identity / Sameness

In [107]:
%reload_ext watermark
%watermark -a "Caique Miranda" -gu "caiquemiranda" -iv

Author: Caique Miranda

Github username: caiquemiranda

### End.