In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão de Python Neste Jupyter Notebook:', python_version())

# usaremos o filtro 'waning' para deixar mais limpo.
import warnings
warnings.filterwarnings('ignore')

### What type is it?

In [ ]:
a = 45
type(a)

In [ ]:
b = 'This is a string'
type(b)

In [ ]:
c = 2 + 1j
type(c)

In [ ]:
d = [1, 3, 56]
type(d)

### Numbers

#### Integers

In [ ]:
a = '34' # a is a string containing the characters 3 and 4
x = int(a) # x is in integer number

In [ ]:
int(7.0)

In [ ]:
int(7.9)

In [ ]:
round(7.9)

#### Integer limits

In [ ]:
35**42

#### Floating Point numbers

In [ ]:
a = '35.342'
b = float(a)
b

In [ ]:
type(b)

#### Complex numbers

In [ ]:
x = 1 + 3j
x

In [ ]:
abs(x) # computes the absolute value

In [ ]:
x.imag

In [ ]:
x.real

In [ ]:
x * x

In [ ]:
x * x.conjugate()

In [ ]:
3 * x

In [ ]:
import cmath

cmath.sqrt(x)

#### Functions applicable to all types of numbers

In [ ]:
a = -45.463
abs(a)

### Sequences

- a[i] returns i-th element of a
- a[i:j] returns elements i up to j-1
- len(a) returns number of elements in sequence
- min(a) returns smallest value in sequence
- max(a) returns largest value in sequence
- x in a returns True if x is element in a
- a + b concatenates a and b
- n * a creates n copies of sequence a

#### Sequence type 1: String

In [ ]:
a = 'Hello World'

In [ ]:
a = "Hello World"

In [ ]:
a = """Hello World"""
a = '''Hello World'''

In [ ]:
a = "Hello World"
type(a)

In [ ]:
b = ""
type(b)

In [ ]:
type("Hello World")

In [ ]:
type("")

In [ ]:
a = "Hello Moon"
len(a)

In [ ]:
a = 'test'
len(a)

In [ ]:
len('another test')

In [ ]:
'Hello ' + 'World'

In [ ]:
a = "This is a test sentence."
a.upper()

In [ ]:
a = "This is a test sentence."
a.split()

In [ ]:
a = "The dog is hungry. The cat is bored. The snake is awake."
a.split(".")

In [ ]:
a = "The dog is hungry. The cat is bored. The snake is awake."
s = a.split('.')
s

In [ ]:
".".join(s)

In [ ]:
" STOP".join(s)

#### Sequence type 2: List

In [ ]:
a = [34, 12, 54]

In [ ]:
a = ['dog', 'cat', 'mouse']

In [ ]:
a = []

In [ ]:
type(a)

In [ ]:
type([])

In [ ]:
a = ['dog', 'cat', 'mouse']
len(a)

In [ ]:
a = [123, 'duck', -42, 17, 0, 'elephant']

In [ ]:
a = [1, 4, 56, [5, 3, 1], 300, 400]

In [ ]:
[3, 4, 5] + [34, 35, 100]

In [ ]:
a = [34, 56, 23]
a.append(42)
a

In [ ]:
a = [34, 56, 23, 42]
a.remove(56)
a

In [ ]:
# The range() command

In [ ]:
list(range(3))

In [ ]:
list(range(10))

In [ ]:
for i in range(11):
    print(i ** 2)

In [ ]:
list(range(3, 10)) # start=3

In [ ]:
list(range(3, 10, 2)) # start=3, step=2

In [ ]:
list(range(10, 0, -1)) # start=10,step=-1

#### Sequence type 3: Tuples

In [ ]:
a = (12, 13, 'dog')
a

In [ ]:
a[0]

In [ ]:
a = 100, 200, 'duck'
a

In [ ]:
x, y = 10, 20
x

In [ ]:
y

In [ ]:
x = 1
y = 2
x, y = y, x
x

In [ ]:
y

In [ ]:
t = ()
len(t)

In [ ]:
type(t)

In [ ]:
t = (42,)
type(t)

In [ ]:
len(t)

In [ ]:
t = (42)
type(t)

In [ ]:
a = (12, 13, 'dog')
a[0]

In [ ]:
# NBVAL_RAISES_EXCEPTION
a[0] = 1

#### Indexing sequences

In [ ]:
a = ['dog', 'cat', 'mouse']
a[0]

In [ ]:
a[1]

In [ ]:
a[2]

In [ ]:
a = ['dog', 'cat', 'mouse']
a[-1]

In [ ]:
a[-2]

In [ ]:
a = "Hello World!"
a[0]

In [ ]:
a[1]

In [ ]:
a[10]

In [ ]:
a[-1]

In [ ]:
a[-2]

#### Slicing sequences

In [ ]:
a = "Hello World!"
a[0:3]

In [ ]:
a[1:4]

In [ ]:
a[0:2]

In [ ]:
a[0:6]

In [ ]:
a[0:-1]

In [ ]:
a = "Hello World!"
a[:5]

In [ ]:
a[5:]

In [ ]:
a[-2:]

In [ ]:
a[:]

#### Dictionaries

In [ ]:
d = {}

In [ ]:
d['today'] = '22 deg C' # 'today' is the keyword

In [ ]:
d['yesterday'] = '19 deg C'

In [ ]:
d.keys()

In [ ]:
d['today']

In [ ]:
d2 = {2:4, 3:9, 4:16, 5:25}
d2

In [ ]:
d3 = dict(a=1, b=2, c=3)
d3

In [ ]:
d.values()

In [ ]:
d.items()

In [ ]:
d.get('today','unknown')

In [ ]:
d.get('tomorrow','unknown')

In [ ]:
'today' in d

In [ ]:
'tomorrow' in d

In [ ]:
# NBVAL_IGNORE_OUTPUT
order = {} # create empty dictionary

#add orders as they come in
order['Peter'] = 'Pint of bitter'
order['Paul'] = 'Half pint of Hoegarden'
order['Mary'] = 'Gin Tonic'

#deliver order at bar
for person in order.keys():
    print(person, "requests", order[person])

In [ ]:
# NBVAL_IGNORE_OUTPUT
dic = {} #create empty dictionary
dic["Hans"] = "room 1033" #fill dictionary
dic["Andy C"] = "room 1031" #"Andy C" is key
dic["Ken"] = "room 1027" #"room 1027" is value

for key in dic.keys():
    print(key, "works in", dic[key])

In [ ]:
people = ["Hans","Andy C","Ken"]
rooms = ["room 1033","room 1031","room 1027"]

#possible inconsistency here since we have two lists
if not len( people ) == len( rooms ):
    raise RuntimeError("people and rooms differ in length")

for i in range( len( rooms ) ):
    print(people[i],"works in",rooms[i])

### Passing arguments to functions

In [ ]:
%reload_ext watermark
%watermark -a "Caique Miranda" -gu "caiquemiranda" -iv

### End.